@font-face
	font-family Trebuchet MS
	font-style normal
	src url('../fonts/Trebuchet MS.ttf')
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
html
	background-color: #e6e6e6
body
	padding-bottom: 9px
	width 600px
	background-color: #FFF
	margin 0 auto
.top 
	padding-top: 40px
	padding-bottom: 16px
	ul
		li:last-child
			float: right
		li
			display inline
			font 400 13px / 26px Arial
			a
				color black
	clearfix()
	background-color:#e6e6e6
		
	
header
	
		
			
	background-color: #e9eee2FF
	.logo
		height 58px
		border-bottom 1px solid black
		img
			margin 18px 0px 14px 40px
	h1
		font 400 24px / 23px Arial
		margin 44px 177px 44px 177px
		text-align: center
	h2
		text-align center
		font 400 18px / 28px Arial
		margin 0px 97px 24px 101px
		
		a
			color #38c6fb
	img
		vertical-align: middle;
			
main
	padding-bottom: 60px
	background-color: white
	h1
		padding-top: 39px
		margin 0px 94px 39px 95px
		font 400 23px / 28px Arial
		text-align center
		>a
			color #38c6fb
	>a.button
		display block
		margin 0 130px 0px 130px
		height: 60px
		width 340px
		border 0
		border-radius 8px
		background-color: #38c6fb
		
		font 700 18px / 26px Trebuchet MS
		color white
		&:hover
			box-shadow 2px 3px 0px 0.00px #0d9ccb
			
		span
			line-height 60px
			display block
			float left
			margin-left 19px
			margin-right 21px
			img.discount
				padding-right 21px
			img.premium
				padding-right: 31px
	.functional
		clearfix()
		margin 40px 91px 0px 91px
		.func-item
			clearfix()
			margin-bottom 44px
			width 100%
			.func-item-img
				
				margin-left 5%
				float left
				width 15%
				img
					
			.func-item-info
				float right
				width 80%
				h2
					font 700 18px / 22px Arial
					color #333333
				h3
					font 400 16px / 22px Arial
	>h2
		margin 0 122px 39px 117px
		text-align center
		color color
		font 400 23px / 28px Arial
		
	>a
		color #38c6fb
		
		margin-top: 16px
		display block
		text-align center
	
		
			
footer
	margin 0 10px 0px 10px
	padding-bottom: 10px
	background-color: #f2f2f2
	.info
		padding-top: 30px
		clearfix()
		width 95%
		margin 0 auto
		.prof-info
			display: inline-block;
			clearfix()
			width 70%
			float: left
			img
				
			h2
				font 400 12px / 16px Arial
				color:#191919
				vertical-align middle
				display inline-block
				span
					font 400 11px / 14px Arial
					color #808080
		.social-icons
			line-height 64px
			float: right
			clearfix()
			width 30%
			display: inline-block;
			img
				padding-left : 21px
	
	.phones
		
		padding-top: 20px
		clearfix()
		width 95%
		margin 0 auto
		.phones-item:nth-child(2)
			margin-right 1%
			margin-left 1%
		.phones-item
			
			
			width 32.66%
			float left
			img
				float left
				padding-right: 10px
			h2
				
				span
					color #999999
					font 400 14.08px / 20px Arial
	.policy
		padding-top 20px
		clearfix()
		width 95%
		margin 0 auto
		font 400 11px / 14px Arial
		color:#c0c0c0
		a
			color #191919
		span
			text-decoration underline